<div class="students_index container">
  <%- model_class = Student -%>

<% @students.each do |student| %>
  <div class="row">
        <div class="col-md-offset-1 col-md-2">
          <%= image_tag(student.image, :alt=> "", class: "student_image student_#{student.id}_image") %>
        </div>
        
        <div class="student-details col-md-6">
          <p>
            Name: <%= student.name %>
          </p>
          <p>
            DOB: <%= student.dob %>
          </p>
          <p>
            Email:<%= student.email %>
          </p>
          <p>
            Contact:<%= student.mobile %>
          </p>
          <p>
            Address:<%= student.address%> City: <%= student.city%>
          </p>
          <p>
            Summary:<%= student.summary %>
          </p>
        </div>
        <div class="col-md-2">
          <button class="teach-me-button btn btn-default">Teach Me</button>
        </div>

      <div class="col-md-offset-1"></div>
  </div>
  <hr class="col-md-10 col-md-offset-1">
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_student_path,
            :class => 'btn btn-primary' %>

</div>
